<div *ngIf="data === null">
    Stats not yet loaded.
</div>
<div *ngIf="!!data">
    <div class="stat">
        At rank {{data.rank}}, tier {{data.tier}}, subtier {{data.subtier}}
    </div>
    <div class="stat">
        Using deck {{data.deck}}
    </div>
    <div class="stat">
        Played this deck for {{formatTime(data.deckTimePlayed)}}
    </div>
    <div class="stat">
        Average game time {{formatTime(data.deckTimePlayed / (data.winsWithDeck + data.lossesWithDeck))}}
    </div>
    <div class="stat">
        Deck record {{data.winsWithDeck}} - {{data.lossesWithDeck}} ({{formatNumber(100 * data.winsWithDeck / (data.winsWithDeck + data.lossesWithDeck))}}%)
    </div>
    <hr />
    <div class="stat">
        Time played overall {{formatTime(data.overallTime)}}
    </div>
    <div class="stat">
        Average overall game time {{formatTime(data.overallTime / (data.overallWins + data.overallLosses))}}
    </div>
    <div class="stat">
        Overall record {{data.overallWins}} - {{data.overallLosses}} ({{formatNumber(100 * data.overallWins / (data.overallWins + data.overallLosses))}}%)
    </div>
    <div class="sim-table">
        <div class="sim-header sim-row">
            <div class="sim-column">
                To Rank
            </div>
            <div class="sim-column">
                Games
            </div>
            <div class="sim-column">
                Hours
            </div>
        </div>
        <div *ngFor="let row of data.simTable" class="sim-row">
            <div class="sim-column" [innerHtml]="row[0]"></div>
            <div class="sim-column" [innerHtml]="formatNumber(row[1])"></div>
            <div class="sim-column" [innerHtml]="formatNumber(row[2])"></div>
        </div>
    </div>
</div>